<?xml version="1.0" encoding="utf-8"?>

<manifest package="com.burtonshead.burningeye"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="preferExternal"
          android:versionCode="3"
          android:versionName="1.0.2">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".App"
        android:icon="@drawable/icon"
        android:label="@string/app_name">

        <activity
            android:name=".MainScreen"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".GameScreen"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".StoryScreen"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".TutorialScreen"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".ScoreScreen"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".AboutScreen"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".UpgradeScreen"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>


    </application>

</manifest>

    <!--<manifest package="com.burtonshead.burningeye"-->
    <!--xmlns:android="http://schemas.android.com/apk/res/android">-->

    <!--<application-->
    <!--android:allowBackup="true"-->
    <!--android:icon="@mipmap/ic_launcher"-->
    <!--android:label="@string/app_name"-->
    <!--android:supportsRtl="true"-->
    <!--android:theme="@style/AppTheme">-->
    <!--<activity-->
    <!--android:name=".BurningEye"-->
    <!--android:configChanges="orientation|keyboardHidden|screenSize"-->
    <!--android:label="@string/app_name"-->
    <!--android:theme="@style/FullscreenTheme">-->
    <!--<intent-filter>-->
    <!--<action android:name="android.intent.action.MAIN"/>-->

    <!--<category android:name="android.intent.category.LAUNCHER"/>-->
    <!--</intent-filter>-->
    <!--</activity>-->
    <!--</application>-->

    <!--</manifest>-->
